In [1]:
import pandas as pd

In [2]:
from pyspark.sql import Row

In [5]:
rdd = sc.parallelize([Row(a=1,
                         b=2,
                         c=3),
                     Row(a=4,
                        b=5,
                        c=6),
                     Row(a=7,
                        b=8,
                        c=9)])

In [10]:
df = rdd.toDF()

In [13]:
a = df.take(2)

In [14]:
print(a)

[Row(a=1, b=2, c=3), Row(a=4, b=5, c=6)]

In [20]:
from pyspark.sql import DataFrameReader

In [23]:
df_csv = spark.read.csv("cities.csv")

In [25]:
a = df_csv.show()

+---+----------+--------------------+----------+----------+----------------+-------------+
|_c0|       _c1|                 _c2|       _c3|       _c4|             _c5|          _c6|
+---+----------+--------------------+----------+----------+----------------+-------------+
| id|      name|              coords|start_year|  url_name|         country|country_state|
|  5|  Aberdeen|  POINT(-2.15 57.15)|      2017|  aberdeen|        Scotland|         null|
|  6|  Adelaide|POINT(138.6 -34.9...|      2017|  adelaide|       Australia|         null|
|  7|   Algiers|POINT(3 36.83333333)|      2017|   algiers|         Algeria|         null|
|  9|    Ankara|POINT(32.91666667...|      2017|    ankara|          Turkey|         null|
| 16|     Belém|POINT(-48.4833333...|      2017|     belem|          Brazil|         null|
| 10|  Asunción|POINT(-57.6666666...|      2017|  asuncion|        Paraguay|         null|
| 11|    Athens|POINT(23.71666667...|      2017|    athens|          Greece|         null|
| 12|  Auckland|POINT(174.75 -36....|      2017|  auckland|     New Zealand|         null|
|211|    Ottawa|POINT(-75.7166666...|      2000|    ottawa|          Canada|         Ont.|
| 17|   Belfast|POINT(-5.93333333...|      2017|   belfast|Northern Ireland|         null|
| 18|  Belgrade|POINT(20.53333333...|      2017|  belgrade|          Serbia|         null|
|273|St.-Brieuc|POINT(-2.78330326...|      2018|st.-brieuc|          France|         null|
|274|   Poitier|POINT(0.333276529...|      2018|   poitier|          France|         null|
|147|   Chicago|POINT(-87.6166666...|      1892|   chicago|   United States|         Ill.|
|269|    Annecy|POINT(6.116670287...|      2018|    annecy|          France|         null|
|270|    Roanne|POINT(4.066666218...|      2018|    roanne|          France|         null|
|271|     Roura|POINT(-52.3300205...|      2018|     roura|          France|         null|
|272| Sinnamary|POINT(-52.9599821...|      2018| sinnamary|          France|         null|
|276|  Biarritz|POINT(-1.56159489...|      2018|  biarritz|          France|         null|
+---+----------+--------------------+----------+----------+----------------+-------------+
only showing top 20 rows

In [4]:
from pyspark import SparkContext
sc = SparkContext.getOrCreate()

In [1]:
num = sc.parallelize([1,2,3,4])
num.take(3)
# print(num)

[1, 2, 3]

In [4]:
num_sqrt = num.map(lambda x: np.sqrt(x)).collect()

In [5]:
print([x for x in num_sqrt])

[1.0, 1.4142135623730951, 1.7320508075688772, 2.0]

In [6]:
from pyspark.sql import Row
from pyspark.sql import SQLContext

sqlContext = SQLContext(sc)

In [9]:
list_nameAge = [('Adi',20),('Budi',22),('Cecep',25),('Dodi',19)]
rdd_nameAge = sc.parallelize(list_nameAge)
map_rddNameAge = rdd_nameAge.map(lambda x: Row(name=x[0], age=int(x[1])))
DF_nameAge = sqlContext.createDataFrame(map_rddNameAge)

In [10]:
DF_nameAge.show()

+---+-----+
|age| name|
+---+-----+
| 20|  Adi|
| 22| Budi|
| 25|Cecep|
| 19| Dodi|
+---+-----+

In [11]:
DF_nameAge.printSchema()

root
 |-- age: long (nullable = true)
 |-- name: string (nullable = true)

In [14]:
spark

In [16]:
from random import randint

random_intList = [randint(0,1000) for i in range(0,2000000)]

rdd_random = sc.parallelize(random_intList)

rdd_random_filter = rdd_random.filter(lambda x: x >= 200)

# %%time

print(rdd_random_filter.count())

1600486